<nav>
  <div class="right">
    <a href="/logout"><i class="bi bi-power"></i></a>
  </label>
  </div>
</nav>
<div class="wrapper-about">
  <div class="container-about">
    <div class="left">
      <i class="bi bi-flower1"></i>
      <img src="/img/about.jpg">
      <div class="sosmed">
        <a href=""><i class="bi bi-twitter"></i></a>
        <a href=""><i class="bi bi-whatsapp"></i></a>
        <a href=""><i class="bi bi-instagram"></i></a>
      </div>
    </div>
    <div class="right">
      <h4>ABOUT US</h4>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non, aspernatur quae! Deleniti quos iusto et sunt praesentium recusandae quasi aliquid magnam expedita, consequatur odit, quisquam autem repudiandae soluta officiis beatae Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor eius sint aspernatur consequatur atque dignissimos, minima tenetur nulla exercitationem nisi.</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non, aspernatur quae! Deleniti quos iusto et sunt praesentium recusandae quasi aliquid magnam expedita.</p>
    </div>
  </div>
</div>