<nav>
  <div class="left">
    <form action="/search" method="get">
      <div class="search">
        <input name="query" placeholder="Search..." type="text">
        <button type="submit">Go</button>
      </div>        
    </form>
  </div>
</nav>