
<form action="/tambah-matkul" class="form-post"  method="post">
  <h5>Add Matkul</h5>
  <div class="mb-3">
    <input type="text" class="title" name="matkul" placeholder="Nama Mata Kuliah" required>
  </div>
  <div class="mt-3 con-btn">
    <a href="/manages-matkul" class="btn-cancel">Cancel</a>
    <button type="submit" class="btn-publish">Submit</button>
  </div>
</form>

